[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"

[packages]
flask = "==1.0.3"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-login = "*"
jinja2 = "*"
sqlalchemy = "*"
coverage = "*"
